
# Ignore the virtual environment folder
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore local configuration files
.env
.vscode/
test/
mock_data_after_task1.yaml
mock_data_after_task2.yaml
mock_data_after_task3.yaml